header {
    background-color: black;
    display: flex;
    justify-content: space-between;

}

.nav {
    display: flex;
    justify-content: flex-start;
    padding: 50px 50px 50px 0px;
    color: white;
    word-spacing: 10px;
}

.body {
    display: flex;
    justify-content: space-around;
    padding: 50px 30px 0px 30px;
    
    
    
}

.logos {
    display: flex;
    padding: 20px 0px 0px 40px;
}

.pizzafront {
    padding: 0px 0px 30px 20px;
}

.leftbody {
    width: 50%;
    height: 500px;}

.rightbody {
    width: 50%;
    height: 500px;
    padding: 10px 0px 0px 0px;
    }

.lista {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 30px 100px;
}    

.foto {
    padding: 100px 100px 50px 0px;
}

footer {

    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px 30px 5px 0px;
    word-spacing: 1%;
}

ul {
    list-style-type: none;
    word-spacing: 20px;
    
}

h2 {
    text-align: center;
    color: red;
}

.home {
    padding: 0px 10px 0px 10px;
}

.ranking {
    padding: 0px 10px 0px 10px;
}

.promocion {
    padding: 0px 10px 0px 10px;
}

.contacto {
    padding: 0px 10px 0px 10px;
}

.homefoter {
padding: 10px;
}

.contactofoter {
padding: 10px;
}

.rankingfoter {
padding: 10px;
} 

h3 {
    display: flex;
    justify-content: center;
    padding: 50px 0px 0px 0px;
}

.promocionfoter {
padding: 10px;
}

.footerlogo {
padding-top: 50px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
